/* style.css */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#panda-background {
    background-image: url('panda.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cryptogram-puzzle {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#cryptogram-input {
    width: 100%;
    padding: 5px;
    font-size: 9px;
    border: none;
    border-radius: 5px;
}

#submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

#hints {
    margin-top: 10px;
    font-size: 9px;
    color: #666;
}

#hints ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#hints li {
    margin-bottom: 5px;
}

#key-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

#key-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
